
body {
	font-family: tahoma, arial, sans-serif;
	padding: 16px;
    background-position: top right;
    background-repeat: no-repeat;
}

body.Success {
	background-color: #44FF44;
    background-image: url("green-tick.png");
}

body.Failure {
	background-color: #FF0000;
    background-image: url("red-cross.png");
}

h1 {
	margin: 0px;
	margin-bottom: 16px;
	font-weight: bold;
    font-size: 32px;
}

h2 {
	margin: 0px;
	margin-bottom: 32px;
	font-weight: normal;
    font-size: 24px;
}

h3 {
    margin: 0px;
    margin-bottom: 8px;
    font-weight:normal;
    font-size: 20px;
}

.BuildType, .Project .Portraits {
	background-color: #FFFFFF;
	border: 1px solid #444444;
	padding: 8px;
}

.Project .Builds {
    position: relative;
}

.Project .Build {
	background-color: #FFFFFF;
	border: 1px solid #444444;
	padding: 8px;
    margin-top: 16px;
}

body.Building .BuildType {
	background-color: #FFFF00;
}


.Portraits img {
	margin: 8px;
	border: 1px solid #444444;
}

.NoChanges {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.Changes ul {
	list-style: none;
	padding: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	margin-bottom: 0px;
}

.Changes li {
	border-top: solid 1px #444444;
	padding-top: 8px;
	padding-bottom: 8px;
    white-space: pre-line;
}

.BuildType .ProgressBar {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;    
}

.ProgressBar {
    position: relative;
	border: 1px solid #444444;
	background-color: white;
    height: 40px;
    overflow-x: hidden;
}

.ProgressBar .Activity {
	position: absolute;
    border: 4px solid white;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 4px;

	font-size: 16px;
	text-align: left;
	vertical-align: middle;
    overflow-x: visible;
    white-space: nowrap;
}

.ProgressBar .Success {
	background-color: #44FF44;
}

.ProgressBar .Failure {
	background-color: #FF0000;
}

.Version {
	position: fixed;
	bottom: 4px;
	right: 4px;
	font-size: 12px;
	color: #444444;
}
