
body {
	font-family: tahoma, arial, sans-serif;
	padding: 16px;
}

body.Success {
	background-color: #44FF44;
}

body.Failure {
	background-color: #FF0000;
}

h1 {
	margin: 0px;
	margin-bottom: 16px;
	font-weight: bold;
}

h2 {
	margin: 0px;
	margin-bottom: 32px;
	font-weight: normal;	
}

.Content {
	background-color: #FFFFFF;
	border-color: none;
	border: 1px solid #444444;
	padding: 8px;
}

body.Building .Content {
	background-color: #FFFF00;
}

.Portraits img {
	margin: 8px;
	border: 1px solid #444444;
}

.NoChanges {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.Changes ul {
	list-style: none;
	padding: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 16px;
	margin-bottom: 0px;
}

.Changes li {
	border-top: solid 1px #444444;
	padding-top: 8px;
	padding-bottom: 8px;
}

.Progress {
	position: relative;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 16px;
	border: 1px solid #444444;
	background-color: white;
	height: 32px;
}

.Progress #bar {
	position: absolute;
	left: 4px;
	right: 4px;
	top: 4px;
	bottom: 4px;
	z-index: 1;
}

.Progress #activity {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	text-align: left;
	vertical-align: middle;
	left: 12px;
	width: auto;
	top: 7px;
}

.Progress #completed {
	position: static;
	height: 100%;
}

.Progress #completed.Success {
	background-color: #44FF44;
}

.Progress #completed.Failure {
	background-color: #FF0000;
}
